aiofiles
aiohttp
apscheduler
beautifulsoup4
cachetools
captcha
certifi
charset-normalizer
dnspython
google
gpytranslate
httpx
kurigram==2.2.23
lyricsgenius
pillow
lottie
lxml
prettyconf
pyaes
pymongo
pysocks
python-dateutil
pytube
pytz
pyyaml
qrcode
regex
requests
rfc3986
search-engine-parser
six
sniffio
soupsieve
tgcrypto
tswift
typing-extensions
ujson
Unidecode
wikipedia
youtube-search-python
yt-dlp[default]
